footer{
    @include base(100%, auto, 0, 1.563em 1.25em);
    background-color: map-get($color-background, footer);
    color: map-get($color-basic,white);
    @include desktop-only{
        text-align: center;
    }
    @include tablet-only{
        text-align: center;
    }
    ul{
        @include base (auto, auto, 1.25em 0 0 0, 0);
        @include desktop-only{
            @include flex(row, space-around, center, nowrap);
        }
        @include tablet-only{
            @include flex(row, space-around, center, nowrap);
        }
        li{
            margin-top: 0.5em;
        }
        a{
            color: map-get($color-basic,white);
        }
    }
}