button{
    @include base(auto, 3.125em, 1em auto, 0 1.25em);
    line-height: 3.125em;
    @include border(30px);
    border: none;
    @include color-button($color-primary, $color-secondary);
    color: map-get($map: $color-basic, $key: white );
    font-size : 1em;
    cursor: pointer;
    @include shadow(darken(map-get($color-background, section), 20%));
    &:hover{
        @include color-button(lighten($color-primary, 10%), lighten($color-secondary, 10%));
    }
}